@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Ubuntu+Condensed');
/*-----------------------------------------
BACKGROUND
-----------------------------------------*/
body {
	background-image: url("../Fond/Fond rectangulaireS.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}
/*---------------------------------
POUR JS
---------------------------------*/
.hide{
	display: none;	
}
/*---------------------------------
POUR TOUS
----------------------------------*/
a {
	text-decoration: none;
}
a{
	color: white;
}
#menu ul {
list-style-type:none;
}

/*-----------------------------
HEADER
-----------------------------*/
/*HEADER MOBILE*/
.block-header {
	margin: 20px;
}

/*.block-header .inner .connexion {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	padding: 20px;
	font-family: 'Fjalla One', Arial, sans-serif; 
	font-size: 1em;
}*/

.block-header .inner .logo-mobile {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.block-header .inner .logo img {
	position: relative;
    right: -325px;
    margin: 20px;
}

.block-header .inner .connexion img{
	position: absolute;
	top: 70px;
	right: 190px;
	width: 60px;
}

.block-header .inner .connexion a {
	position: absolute;
	top: 80px;
	right: 25px;
	color: #274451;
	font-size: 0.9em;
}
/*-----------------------------------
NAV
-----------------------------------*/
.block-nav .inner .menunav{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh; 	
	background-color: #203863;
	visibility: visible;
	color: white;
	padding: 35px 30px 5px 15px;
	font-family: 'Fjalla One', Arial, sans-serif; 
	font-size: 30px;
	z-index: 98;
}
.block-nav .inner #menu .titre{
	padding: 50px;
	padding-left: 125px;
	top: 70px;
}
.block-nav .inner .search{
	border-radius: 50px;
	padding: 10px;
}
.block-nav .inner #btnClickMe{
	position: absolute;
	z-index: 99;
	top: 70px;
	left: 25px;
}
.block-nav .inner .lemenu{
	padding-top: 70px;
	padding-left:100px;
}
.block-nav li {
	padding-top: 100px;
	left: 0;
	padding-left: 0px;
}
.block-nav .inner .action ul input  {
	padding: 10px 10px 0px;
	position: relative;
	border-radius: 50px;
}
/*---------------------------------------
MAIN
---------------------------------------*/
.block-center .inner .block-main .title{	
	z-index: 1;
	text-align: center;
	position: relative;
	/*top: 175px;*/
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.3em;
	color: #00022E;
	margin: 0px 0px 20px;
}
.block-center .inner .block-main .section .forms{	
	z-index: 1;
	text-align: center;
	position: relative;
	/*top: 425px;*/
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.2em;
	color: #00022e;
}

.block-center .inner .block-main .section .forms .quest{
	position: relative;
	/*top: -50px;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	/*font-weight: bold;*/
	color: white;
	border-width: 50px;
}

.block-center .inner .block-main .section .forms div .btn{/*
	position: relative;*/
	/*top: 15px;*/
	border-radius: 50%;
	padding: 11px;
	text-align: center;	
	border: 0px solid #000;
	margin: 20px 0px 0px 60px;
}
.block-center .inner .block-main .section .forms div .btnq1{/*
	position: relative;*/
	/*top: 15px;*/
	border-radius: 50%;
	padding: 11px;
	text-align: center;	
	border: 0px solid #000;
	margin: 20px 0px 0px 0px;
}

/*.block-center .inner .block-main .pagenumber img{
	margin: 20px;
}*/
/*.block-center .inner .block-main .section .forms p{
	height: 50px;
}*/
.block-center .inner .block-main .section .forms div a {
	position: relative;
	top: 11px;
	left: -100px;
}
.block-center .inner .block-main .section .forms .end{
	z-index: 1;
	position: relative;
	/*top: 100px;*/
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 25px;
	/*-------------------------------
	Texte
	-------------------------------*/
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	margin: 70px;
}/*
.block-center .inner .block-main .section .forms .quest*/


/*----------------------------------
FOOTER
----------------------------------*/
.footer {
	background-color: transparent;
	text-align: center;
	padding: 30px 0px 0px;
	color: white;
	font-size: 25px;
	/*position: absolute;
 	bottom: 0;*/
	width: 100%;
  	height: 50px;
	text-shadow: 1px 1px 2px #288797;
}


/*Séparateur*/
.footer hr {
	background-color: white;
}


