@import url("normalize.css");
/*@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Ubuntu+Condensed');*/
/*---------------------------------
POUR JS
---------------------------------*/
.hide {
	display: none;	
}

/*---------------------------------
POUR TOUS
----------------------------------*/
a {
	text-decoration: none; /*Pour enlever la mise en forme des liens, ici soulignage*/
	color: white;
}

#menu ul {
list-style-type:none;
}

body {
	background-image: url("../Fond/Fond rectangulairedouble.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.page {
	position: relative;
	min-height: 94vh;
}

.content {
	min-height: 570px;
}


/*---------------------------------
HEADER MOBILE
----------------------------------*/
.block-header .inner {
	padding: 35px;
	display: flex;
	justify-content: space-between; 
	align-items: center;
}


/*Bouton menu par dessus la sidebar*/
.block-header #btnClickMe {
	z-index: 99;
	width: 100px;
}

/*Style logo mobile*/
.block-header .logo-mobile  {
	display: block;
	width: 25%;
}

/*Taille icône user*/
.block-header .connexion img {
	width: 100px;
	margin: 20px 0;
}

.block-header .connexion .profilep img {
	border-radius: 100%;
	border: 3px solid #203863;
}

/*Style lien connexion*/
.block-header .connexion a {
	color: #274451;
	font-size: 0.8em;
}

/*Style et position sous-menu*/
.block-header .inner .sous-menu {
	margin: 0;
    padding: 0;
    border: 1px solid #203863;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
	position: absolute;
    right: 33px;
    top: 215px;
	display: none;
}

/*tyle li du sous-menu*/
.block-header .inner .sous-menu li {
	list-style: none;
    font-size: 1rem;
    font-weight: normal;
    padding: 8px;
	text-align: right;
}

/*Séparateur dans sous-menu*/
.block-header .inner .sous-menu li:first-of-type {
	border-bottom: 1px solid #203863;
}

.block-header .inner .connexion:hover .sous-menu,
.block-header .inner .connexion:focus .sous-menu {
	display: block;
}

/*Couleur et taille liens du sous-menu*/
.block-header .inner .sous-menu li a {
	color: #203863;
	font-size: 2em;
}

/*Style du premier li du sous-menu au survol*/
.block-header .inner .sous-menu li:first-of-type:hover,
.block-header .inner .sous-menu li:first-of-type:active,
.block-header .inner .sous-menu li:first-of-type:focus {
	background-color: white;
	border-radius: 5px 5px 0 0;
}

/*Style du deuxième li du sous-menu au survol*/
.block-header .inner .sous-menu li:last-of-type:hover,
.block-header .inner .sous-menu li:last-of-type:active,
.block-header .inner .sous-menu li:last-of-type:focus {
	background-color: white;
	border-radius: 0 0 5px 5px;	
}

/*Enlever soulignement liens*/
.block-header .inner .sous-menu a:hover,
.block-header .inner .sous-menu a:active,
.block-header .inner .sous-menu a:focus {
	text-decoration: none;
}


/*---------------------------------
NAV MOBILE
----------------------------------*/
.block-nav .menunav {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh; 	
	background-color: #203863;
	visibility: visible;
	color: white;
	padding: 85px 40px;
	font-family: 'Fjalla One', Arial, sans-serif; 
	font-size: 25px;
	z-index: 98;
}

.block-nav #menu .titre {
	text-align: center;
	margin: 40px 0px 40px 100px;
	color: white;
}

.block-nav #menu .titre h2 {
	font-size: 3rem
}

.block-nav .search {
	border-radius: 10px;
	padding: 5px;
	font-size: 30px;
	border: 2px solid #46b3a6;
	background-color: rgba(255,255,255,0.90);
	width: 350px;
	margin: 40px 0 0
}

.block-nav .lemenu {
	padding-top: 70px;
	padding-left: 100px;
}

.block-nav li {
	padding-top: 40px;
}

.block-nav li a {
	color: white;
	text-decoration: none;
	font-size: 40px;
}

.block-nav li a:hover,
.block-nav li a:focus,
.block-nav li a:active {
	color: #46b3a6;
}

.block-nav .action ul input  {
	padding: 10px 10px 0px;
	position: relative;
	border-radius: 50px;
}

/*---------------------------------
HEADER WEB
----------------------------------*/
.block-header-web .topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
	margin: auto;
}

.block-header-web .topbar .socialmedia ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.block-header-web .topbar .socialmedia img {
	width: 30px;
	margin-right: 10px;
}

.block-header-web .topbar .connexion {
	display: flex;
	justify-content: space-around;
}

.block-header-web .topbar .connect {
	display: flex;
    align-items: center;
	margin: 20px 0;
}

.block-header-web .topbar .connexion .connect,
.block-header-web .topbar .connexion .profilep,
.block-header-web .topbar .connexion .profile {
	color: #203863;
}

.block-header-web .topbar .connexion .connect:hover,
.block-header-web .topbar .connexion .connect:focus,
.block-header-web .topbar .connexion .connect:active {
	text-decoration: none;
	color: #047395;
}

.block-header-web .topbar .connexion .profile,
.block-header-web .topbar .connexion .profilep {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: flex-end;
	margin: 20px 0;
}

.block-header-web .topbar .connexion img {
	width: 30px;
	margin-right: 10px;
}

.block-header-web .topbar .connexion .profilep img {
	border-radius: 100%;
	border: 3px solid #203863;
	width: 35px
}

.block-header-web .topbar .connexion p {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 500;
}

/*Style et position sous-menu*/
.block-header-web .sous-menu {
	padding: 0;
    border: 1px solid #203863;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
	margin: 60px 0 0;
	position: absolute;
	display: none;
}

/*tyle li du sous-menu*/
.block-header-web .sous-menu li {
	list-style: none;
    font-size: 1rem;
    font-weight: normal;
    padding: 8px;
	text-align: center;
}

/*Séparateur dans sous-menu*/
.block-header-web .sous-menu li:first-of-type {
	border-bottom: 1px solid #203863;
}

.block-header-web .connexion:hover .sous-menu,
.block-header-web .connexion:focus .sous-menu {
	display: block;
}

/*Couleur et taille liens du sous-menu*/
.block-header-web .sous-menu li a {
	color: #203863;
	font-size: 1em;
}

/*Style du premier li du sous-menu au survol*/
.block-header-web .sous-menu li:first-of-type:hover,
.block-header-web .sous-menu li:first-of-type:active,
.block-header-web .sous-menu li:first-of-type:focus {
	background-color: white;
	border-radius: 5px 5px 0 0;
}

/*Style du deuxième li du sous-menu au survol*/
.block-header-web .sous-menu li:last-of-type:hover,
.block-header-web .sous-menu li:last-of-type:active,
.block-header-web .sous-menu li:last-of-type:focus {
	background-color: white;
	border-radius: 0 0 5px 5px;	
}

/*Enlever soulignement liens*/
.block-header-web .sous-menu a:hover,
.block-header-web .sous-menu a:active,
.block-header-web .sous-menu a:focus {
	text-decoration: none;
}




.titleandlogo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px 20px;
}

.block-header-web .titleandlogo a {
	text-decoration: none;
}

.block-header-web .titleandlogo h1 {
	color: #203863;
	font-size: 50px;
	display: none;
	margin: 0px 15px 0px 0px;
}

.block-header-web .titleandlogo .logo-web {
	width: 100px;
}


.block-nav-web,
.block-header-web {
	display: none;
}

.block-nav-web .inner {
	display: flex;
	justify-content: space-around;
}



/*---------------------------------
BARRE DE RECHERCHE
----------------------------------*/
.block-nav .button {
	position: absolute;
    z-index: 1;
    margin: -44px 0 0 308px;
    background-image: url(../Icones/searchb.png);
    width: 30px; 
    height: 30px; 
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.block-header-web .search {
	width: 1000px;
    text-align: right;
    margin: 0 auto 20px;
}

.block-header-web .search input:first-of-type {
	border-radius: 5px;
    padding: 1px;
    /* font-size: 20px; */
    border: 2px solid #203863;
    background-color: rgba(255,255,255,0.75);
}


.block-header-web .button {
	position: absolute;
    z-index: 1;
    margin: 5px 0 0 -26px;
    background-image: url(../Icones/searchv.png);
    width: 21px; 
    height: 21px; 
    background-color: rgba(0,0,0,0);
    overflow: hidden;
    background-size: cover;
    border: none;
    cursor: pointer;
}


/*---------------------------------
PAGE INSCRIPTION
----------------------------------*/
#content {
	flex-grow: 1;
}

.content {
	display: flex;
	justify-content: center;
}

/*Style Inscription*/
.block-main-inscription h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Couleur nom des champs*/
.block-main-inscription .form label:nth-of-type(1) {
	color: #203863;
}


/*Style champs*/
.block-main-inscription .form  p {
	color: white;
	margin: 50px 0px;
	font-size: 2.6em;
	width: 690px;
}


/*Ombrage texte du formulaire sauf bouton*/
.block-main-inscription .form p:not(:last-of-type) {
	text-shadow: 1px 1px 2px #288797;
}


/*Espace entre noms champs et zones de texte + boutons radios*/
.block-main-inscription .form p label:nth-of-type(1) {
	display: block;
	width: 690px;
	float: left;
}

.block-main-inscription .form #radio {
	width: 127px;
}

/*Espace entre boutons radios et textes*/
.block-main-inscription .form p:nth-of-type(4) input,
.block-main-inscription .form p:nth-of-type(5) input {
	margin: 0px 8px 0px 0px;	
}


/*Style zones de texte*/
.block-main-inscription .form #pseudo,
.block-main-inscription .form #email,
.block-main-inscription .form #password {
	background-color: rgba(255,255,255,0.50);
	border: thin;
	border-radius: 10px;
	color: #203863;
	width: 690px;
}

.block-main-inscription .form #age,
.block-main-inscription .form #gender {
	font-size: 0.75em;
} 


/*Espace entre chaque input*/
.block-main-inscription .form p:nth-of-type(4) input:not(:first-of-type), 
.block-main-inscription .form p:nth-of-type(5) input:not(:first-of-type) { 
	margin: 0px 8px 0px 29px;
}



/*Style texte bouton*/
.block-main-inscription .form p:last-of-type {
	text-align: center;
	font-size: 2.3em;
	font-weight: 600;
}
   

/*Style bouton*/
.block-main-inscription .form p:last-of-type input {
	color: #203863;
	padding: 15px 30px;
	border: thin;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
}

/*Style bouton au survol, au tab ou au clic*/
.block-main-inscription .form p:last-of-type input:hover,
.block-main-inscription .form p:last-of-type input:focus,
.block-main-inscription .form p:last-of-type input:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}



@media (min-width: 992px) { 


	/*Style Inscription*/
	.block-main-inscription h2 {
		font-size: 1.6em;
	}

	/*Style champs*/
	.block-main-inscription .form  p {
		font-size: 1.2em;
		width: 720px;
	}

	/*Style zones de texte*/
	.block-main-inscription .form #pseudo,
	.block-main-inscription .form #email,
	.block-main-inscription .form #password {
		width: 425px;
	}

	.block-main-inscription .form #age,
	.block-main-inscription .form #gender {
		font-size: 1em;
	} 

	/*Style texte bouton*/
	.block-main-inscription .form p:last-of-type {
		font-size: 1.3em;
	}

	/*Espace entre noms champs et zones de texte + boutons radios*/
	.block-main-inscription .form p label:nth-of-type(1) {
		width: 150px;
	}
	
	.block-main-inscription .form #radio {
		width: 150px;
	}

	/*Espace entre boutons radios et textes*/
	.block-main-inscription .form p:nth-of-type(4) input,
	.block-main-inscription .form p:nth-of-type(5) input {
		margin: 0px 20px 0px 0px;	
	}

	
}

/*---------------------------------
CONNEXION
----------------------------------*/


/*Style titre connexion*/
.block-main-connexion h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Couleur nom des champs*/
.block-main-connexion .form label:nth-of-type(1) {
	color: #203863;
}


/*Style champs*/
.block-main-connexion .form  p {
	color: white;
	margin: 50px 20px;
	font-size: 2.6em;
}


/*Ombrage texte du formulaire sauf bouton*/
.block-main-connexion .form p:not(:last-of-type) {
	text-shadow: 1px 1px 2px #288797;
}


/*Espace entre noms champs et zones de texte + boutons radios*/
.block-main-connexion .form p label:nth-of-type(1) {
	display: block;
	width: 690px;
	float: left;
}



/*Espace entre boutons radios et textes*/
.block-main-connexion .form p:nth-of-type(4) input,
.block-main-connexion .form p:nth-of-type(5) input {
	margin: 0px 8px 0px 0px;	
}


/*Style zones de texte*/
.block-main-connexion .form #mail,
.block-main-connexion .form #password {
	background-color: rgba(255,255,255,0.50);
	border: thin;
	border-radius: 10px;
	color: #203863;
	width: 690px;
}


/*Espace entre chaque input*/
.block-main-connexion .form p:nth-of-type(4) input:not(:first-of-type), 
.block-main-connexion .form p:nth-of-type(5) input:not(:first-of-type) { 
	margin: 0px 8px 0px 29px;
}



/*Style texte bouton*/
.block-main-connexion .form p:last-of-type {
	text-align: center;
	font-size: 2.6em;
	font-weight: 600;
	margin: 70px;
}
   

/*Style bouton*/
.block-main-connexion .form p:last-of-type input {
	color: #203863;
	padding: 15px 30px;
	border: thin;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
}

/*Style bouton au survol, au tab ou au clic*/
.block-main-connexion .form p:last-of-type input:hover,
.block-main-connexion .form p:last-of-type input:focus,
.block-main-connexion .form p:last-of-type input:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}

/*Style ligne horizontale*/
.block-main-connexion hr {
	background-color: white;
	height: 1px;
	margin-bottom: 2rem;
}

/*Style Rien de prévu + inscription*/
.block-main-connexion .noplan,
.block-main-connexion .register {
	text-align: center;
}

/*Style texte Rien de prévu + inscription*/
.block-main-connexion .noplan p,
.block-main-connexion .register a {
	color: #203863;
	font-size: 2.6em;
	text-shadow: 1px 1px 2px #288797;
	text-decoration: none;
}

/*Espace après paragraphe Rien de prévu*/
.block-main-connexion .noplan p {
	margin-bottom: 10px;
}


@media (min-width: 992px) { 
	
	/*Style titre connexion*/
	.block-main-connexion h2 {
		font-size: 1.6em;
	}

	/*Style champs*/
	.block-main-connexion .form  p {
		font-size: 1.3em;
	}

	/*Style zones de texte*/
	.block-main-connexion .form #mail,
	.block-main-connexion .form #password {
		width: 363px;
	}

	/*Style texte bouton*/
	.block-main-connexion .form p:last-of-type {
		font-size: 1.3em;
	}

	/*Style ligne horizontale*/
	.block-main-connexion hr {
		margin-bottom: 1rem;
	}

	/*Style texte Rien de prévu + inscription*/
	.block-main-connexion .noplan p,
	.block-main-connexion .register a {
		font-size: 1.3em;		
	}

	/*Espace entre noms champs et zones de texte + boutons radios*/
	.block-main-connexion .form p label:nth-of-type(1) {
		width: 150px;
	}

	.block-main-connexion .register {
		margin-bottom: 20px;
	}

}


/*---------------------------------
CONFIRMATION CONNEXION
----------------------------------*/
.block-main-confirmationconnexion h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px;
}

.block-main-confirmationconnexion p {
	color: white;
	font-size: 2.3em;
	text-shadow: 1px 1px 2px #288797;
	text-align: center;
	margin-top: 40px;
}

.block-main-confirmationconnexion a {
	text-shadow: none;
	color: #00022e;
}

.block-main-confirmationconnexion a:hover,
.block-main-confirmationconnexion a:focus,
.block-main-confirmationconnexion a:active {
	color: #047395;
	text-decoration: none; 
}

@media (min-width: 992px) {

	.block-main-confirmationconnexion h2 {
		font-size: 1.6em;
	}

	.block-main-confirmationconnexion p {
		font-size: 1.3em;
	}
}


/*---------------------------------
PAGE PROFIL
----------------------------------*/
/*Style titre*/
.block-main-profil h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Style fond blanc*/
.block-main-profil .bloc {
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	padding: 20px;
	font-size: 1.1em;
	margin: 40px 0;
	max-width: 650px;
	text-align: left;
}

/*Marges photo de profil*/
.block-main-profil .picture {
	margin: 10px 0 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Taille photo profil*/
.block-main-profil .picture img {
	width: 200px;
	border-radius: 100%;
	border: 3px solid #46b3a6;
	margin: 0 0 20px;
}

/*Disposition annuler et input parcourir*/
.block-main-profil .picture .action {
	width: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 1.7em;
}

/*Style texte*/
.block-main-profil .info p {
	margin: 10px 20px 10px 0;
	font-size: 2.2rem;
	color: #203863;
}

/*Affichage sur une ligne du texte et des boutons*/
.block-main-profil .info .name,
.block-main-profil .info .age,
.block-main-profil .info .mail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 400px;
}


.block-main-profil .action #change-picture {
	color: #203863;
}

.block-main-profil .info #change-pseudo,
.block-main-profil .info #change-mail,
.block-main-profil .info #change-age {
	background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
    border: 1px solid #203863;
    color: #203863;
	padding: 0 6px;
}

.block-main-profil .info .name .action {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Style bouton modifier*/
.block-main-profil .bloc .edit {
	background-image: url(../Icones/edit-b2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

/*Style bouton modifier au survol*/
.block-main-profil .bloc .edit:hover,
.block-main-profil .bloc .edit:focus,
.block-main-profil .bloc .edit:active {
	background-image: url(../Icones/edit-b.png)
}

/*Style bouton annuler*/
.block-main-profil .bloc .cancel1 {
	background-image: url(../Icones/cancel-g.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

/*Style bouton annuler au survol*/
.block-main-profil .bloc .cancel1:hover,
.block-main-profil .bloc .cancel1:focus,
.block-main-profil .bloc .cancel1:active {
	background-image: url(../Icones/cancel-b.png)
}

.block-main-profil .buttons {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	font-size: 2.2em;
}

/*Style bouton supprimer mon compte*/
.block-main-profil .save .btn-save,
.block-main-profil .cancel .btn-cancel {
	margin: 10px 10px;
	color: #203863;
	padding: 8px 15px;
	border: thin;
	border-radius: 8px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
}

.block-main-profil .cancel .btn-cancel:hover,
.block-main-profil .cancel .btn-cancel:focus,
.block-main-profil .cancel .btn-cancel:active,
.block-main-profil .save .btn-save:hover,
.block-main-profil .save .btn-save:focus,
.block-main-profil .save .btn-save:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}

/*Style lien delete*/
.block-main-profil .info .delete {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	padding: 8px 10px;
}

.block-main-profil .info .delete img {
	width: 40px;
	margin: 0 10px 0 0;
}

.block-main-profil .info .delete p {
	margin: 0;	
}

.block-main-profil .info .delete p:hover,
.block-main-profil .info .delete p:active,
.block-main-profil .info .delete p:focus {
	color: white;
	cursor: pointer;
}

.block-main-profil .info a:hover,
.block-main-profil .info a:active,
.block-main-profil .info a:focus {
	text-decoration: none;
}


@media (min-width: 992px) {
	/*Style titre*/
	.block-main-profil h2 {
		font-size: 1.6em;
	}

	/*Style fond blanc*/
	.block-main-profil .bloc {
		width: 500px;
		text-align: center;
	}

	/*Taille photo profil*/
	.block-main-profil .picture img {
		width: 90px;
	}

	/*Disposition annuler et input parcourir*/
	.block-main-profil .picture .action {
		width: 460px;
		font-size: 1em;
	}

	/*Style texte*/
	.block-main-profil .info p {
		font-size: 1.1rem;
	}

	/*Style bouton modifier*/
	.block-main-profil .bloc .edit {
		width: 20px;
		height: 20px;		
	}

	/*Style bouton annuler*/
	.block-main-profil .bloc .cancel1 {
		width: 20px;
		height: 20px;
	}

	.block-main-profil .buttons {
		margin: 10px 0 0;
		font-size: 1em;
	}

	.block-main-profil .info .delete img {
		width: 20px;
	}

}

/*---------------------------------
PAGE DEBUT FORMULAIRE
----------------------------------*/

/*Style titre page*/
.block-main-debutformulaire h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Style texte paragraphe*/
.block-main-debutformulaire .introduction p {
	color: white;
	font-size: 2.3em;
	margin: 40px 0;
	text-shadow: 1px 1px 2px #288797;
	width: 700px;
    text-align: center;
}

/*Style texte bouton*/
.block-main-debutformulaire .buttonbegin {
	text-align: center;
	font-size: 2.3em;
	font-weight: 600;
	margin: 70px;
}


/*Style bouton*/
.block-main-debutformulaire .buttonbegin a {
	color: #203863;
	padding: 15px 30px;
	border: thin;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
}

/*Style bouton au survol, au tab ou au clic*/
.block-main-debutformulaire .buttonbegin a:hover,
.block-main-debutformulaire .buttonbegin a:focus,
.block-main-debutformulaire .buttonbegin a:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}


@media (min-width: 992px) {

	/*Style titre page*/
	.block-main-debutformulaire h2 {
		font-size: 1.6em;
	}

	/*Style texte paragraphe*/
	.block-main-debutformulaire .introduction p {
		font-size: 1.2em;
		margin: 40px 70px;
		width: 800px;
	}

	/*Style texte bouton*/
	.block-main-debutformulaire .buttonbegin {
		font-size: 1.3em;
	}
}

/*---------------------------------
PAGES QUESTION
----------------------------------*/

.block-center .block-main .title {	
	text-align: center;
	position: relative;
	font-size: 3.6rem;
	color: #00022E;
	margin: 70px 0 30px;
}
.block-center .block-main .section .forms {	
	text-align: center;
	position: relative;
	font-size: 2.6em;
	color: #00022e;
}

.block-center .block-main .section .forms .quest{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	color: white;
	border-width: 50px;
	text-shadow: 1px 1px 2px #288797;
}

.block-center .section .forms .answers {
	width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	margin: 30px auto;
}

.block-center .section .forms .answers p {
	width: 50%;
	text-align: left;
	font-weight: 500;
}

.block-center .section .forms .answers p:nth-of-type(2),
.block-center .section .forms .answers p:nth-of-type(4) {
	padding-left: 53px;
}

.block-center .section .forms .answers input {
    margin-right: 16px;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    vertical-align: 5px;
}

/*Style bouton*/
.block-center .next .button {
	color: #203863;
	padding: 15px 30px;
	border: thin;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
}

/*Style bouton au survol, au tab ou au clic*/
.block-center .next .button:hover,
.block-center .next .button:focus,
.block-center .next .button:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}


@media (min-width: 992px) {
	.block-center .block-main .title {	
		font-size: 1.3em;
	}
	
	.block-center .block-main .section .forms{	
		font-size: 1.2em;
	}

	.block-center .block-main .section .forms .quest{
		font-size: 1.3em;
	}

	.block-center .section .forms .answers {
		width: 400px;
	}

	.block-center .section .forms .answers input {
		margin-right: 10px;
	    -ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	    vertical-align: -1px;
	}
}


/*---------------------------------
PAGE CHOIX
----------------------------------*/
/*Style titre page*/
.block-main-choix h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Nombre de résultats*/
.block-main-choix .results {
	text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #288797;
    font-size: 2.5em;
}


/*Event : Style du fond*/
.block-main-choix .event {
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	padding: 20px;
	font-size: 1.1em;
	margin: 50px 0;
	max-width: 650px;
}

.block-main-choix .event .row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

/*Event : Style image*/
.block-main-choix .event .image {
	width: 300px;
}

/*Event : Style titre*/
.block-main-choix .event .titleevent {
	font-size: 2.5em;
	color: #047395;
	font-weight: bold;
	text-align: center;
}

/*Event : Style sous-titre*/
.block-main-choix .event .subtitleevent {
	font-size: 2.3em;
	color: #00022e;
	font-weight: bold;
	text-align: center;
}

/*Event : Style description*/
.block-main-choix .event .descriptionevent {
	text-align: justify;
	font-size: 2em;
}

/*Event : Décalage en savoir plus*/
.block-main-choix .event .link {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
}

/*Event : Style texte en savoir plus*/
.block-main-choix .event .link a {
	color: #047395;
	font-weight: bold;
}

/*Event : Infos*/
.block-main-choix .event .infoevent {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0px 20px;
	font-size: 2em;
	flex-wrap: wrap;
}

/*Event : Suppression espace après paragraphes*/
.block-main-choix .event p {
	margin-bottom: 0;
	max-width: 600px;
}

/*Event : Infos et icônes sur une ligne + alignement vertical*/
.block-main-choix .event .dayevent,
.block-main-choix .event .timeevent,
.block-main-choix .event .priceevent,
.block-main-choix .event .placeevent {
	display: flex;
	align-items: center;
}

/*Event : Taille des icônes + espace entre icônes et textes*/
.block-main-choix .infoevent img {
	max-height: 40px;
	margin: 0px 15px 0px 0px;
}

/*Event : Infos sur deux lignes*/
.block-main-choix .infoevent .dayevent {
	margin-right: 40px;
}



@media (min-width: 992px) {
	/*Style titre page*/
	.block-main-choix h2 {
		font-size: 1.6em;
	}

	/*Nombre de résultats*/
	.block-main-choix .results {
		font-size: 1.3em;
	}

	/*Event : Style du fond*/
	.block-main-choix .event {
		max-width: 650px;
		margin: 20px;
	}
	
	.block-main-choix .event .row {
		flex-direction: row;
	}

	/*Event : Style image*/
	.block-main-choix .event .image {
		width: 135px;
	}

	/*Event : Style titre*/
	.block-main-choix .event .titleevent {
		font-size: 1.2em;
	}

	/*Event : Style sous-titre*/
	.block-main-choix .event .subtitleevent {
		font-size: 1.1em;
	}

	/*Event : Style description*/
	.block-main-choix .event .descriptionevent {
		font-size: 1em;
	}

	/*Event : Décalage en savoir plus*/
	.block-main-choix .event .link {
		font-size: 1em;
		width: 610px;
	}

	/*Event : Infos*/
	.block-main-choix .event .infoevent {
		font-size: 1em;
		flex-wrap: nowrap;
	}

	/*Event : Suppression espace après paragraphes*/
	.block-main-choix .event p {
		max-width: 430px;
	}

	/*Event : Taille des icônes + espace entre icônes et textes*/
	.block-main-choix .infoevent img {
		max-height: 30px;
	}

	/*Event : Suppression marge*/
	.block-main-choix .infoevent .dayevent {
		margin-right: 0;
	}

}

/*---------------------------------
FORM SOIREE
---------------------------------*/
.block-main-form .formulaireComm {
	background-color: rgba(255,255,255,0.50);
	border-radius: 15px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	font-size: 3em;
	width: 700px;
	margin: 80px 0;
}

.block-main-form .formulaireComm label {
	color: #203863;
	margin: 0 0 40px;
	font-weight: bold;
}

.block-main-form .formulaireComm textarea {
	border: 2px solid #00022e;
	margin: 0 0 40px;
	border-radius: 10px;
	padding: 20px;
}

.block-main-form .formulaireComm input {
	padding: 15px 30px;
    border: thin;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 2px 5px #288797);
	width: 400px;
    margin: 0 auto;
	color: #203863;
}

.block-main-form .formulaireComm input:hover, 
.block-main-form .formulaireComm input:focus, 
.block-main-form .formulaireComm input:active {
	background-color: #203863;
    color: white;
    text-decoration: none;
}

/*Accusé enregistrement commentaire*/
.block-main-form .merciAvis {
	color: #203863;
	font-size: 3em;
	width: 800px;
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
}

.block-main-form .merciAvis a {
	color: #047395;
}

.block-main-form .merciAvis a:hover,
.block-main-form .merciAvis a:focus,
.block-main-form .merciAvis a:active {
	color: white;
	text-decoration: none;
}


@media (min-width: 992px) {
	.block-main-form .formulaireComm {
		font-size: 1.2em;	
	}
	
	.block-main-form .formulaireComm label {
		margin: 0 0 20px;
	}
	
	.block-main-form .formulaireComm textarea {
		border: 2px solid #00022e;
		margin: 0 0 20px;
		border-radius: 8px;
		padding: 10px;
	}
	
	.block-main-form .formulaireComm input {
		width: 200px;
	}
	
	/*Accusé enregistrement commentaire*/
	.block-main-form .merciAvis {
		font-size: 1.2em;
	}
}

/*---------------------------------
PAGE LISTING
----------------------------------*/
/*Style titre page*/
.block-main-listing h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}


/*Event : Style du fond*/
.block-main-listing .event {
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	padding: 20px;
	font-size: 1.1em;
	margin: 50px 0;
	max-width: 650px;
}

.block-main-listing .event .row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

/*Event : Style image*/
.block-main-listing .event .image {
	width: 300px;
}

/*Event : Style titre*/
.block-main-listing .event .titleevent {
	font-size: 2.5em;
	color: #047395;
	font-weight: bold;
	text-align: center;
}

/*Event : Style sous-titre*/
.block-main-listing .event .subtitleevent {
	font-size: 2.3em;
	color: #00022e;
	font-weight: bold;
	text-align: center;
}

/*Event : Style description*/
.block-main-listing .event .descriptionevent {
	text-align: justify;
	font-size: 2em;
}

/*Event : Décalage en savoir plus*/
.block-main-listing .event .link {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
}

/*Event : Style texte en savoir plus*/
.block-main-listing .event .link a {
	color: #047395;
	font-weight: bold;
}

/*Event : Infos*/
.block-main-listing .event .infoevent {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0px 20px;
	font-size: 2em;
	flex-wrap: wrap;
}

/*Event : Suppression espace après paragraphes*/
.block-main-listing .event p {
	margin-bottom: 0;
	max-width: 600px;
}

/*Event : Infos et icônes sur une ligne + alignement vertical*/
.block-main-listing .event .dayevent,
.block-main-listing .event .timeevent,
.block-main-listing .event .priceevent,
.block-main-listing .event .placeevent {
	display: flex;
	align-items: center;
}

/*Event : Taille des icônes + espace entre icônes et textes*/
.block-main-listing .infoevent img {
	max-height: 40px;
	margin: 0px 15px 0px 0px;
}

/*Event : Infos sur deux lignes*/
.block-main-listing .infoevent .dayevent {
	margin-right: 40px;
}



@media (min-width: 992px) {
	/*Style titre page*/
	.block-main-listing h2 {
		font-size: 1.6em;
	}

	/*Event : Style du fond*/
	.block-main-listing .event {
		max-width: 650px;
		margin: 20px;
	}
	
	.block-main-listing .event .row {
		flex-direction: row;
	}

	/*Event : Style image*/
	.block-main-listing .event .image {
		width: 135px;
	}

	/*Event : Style titre*/
	.block-main-listing .event .titleevent {
		font-size: 1.2em;
	}

	/*Event : Style sous-titre*/
	.block-main-listing .event .subtitleevent {
		font-size: 1.1em;
	}

	/*Event : Style description*/
	.block-main-listing .event .descriptionevent {
		font-size: 1em;
	}

	/*Event : Décalage en savoir plus*/
	.block-main-listing .event .link {
		font-size: 1em;
		width: 610px;
	}

	/*Event : Infos*/
	.block-main-listing .event .infoevent {
		font-size: 1em;
		flex-wrap: nowrap;
	}

	/*Event : Suppression espace après paragraphes*/
	.block-main-listing .event p {
		max-width: 430px;
	}

	/*Event : Taille des icônes + espace entre icônes et textes*/
	.block-main-listing .infoevent img {
		max-height: 30px;
	}

	/*Event : Suppression marge*/
	.block-main-listing .infoevent .dayevent {
		margin-right: 0;
	}

}

/*---------------------------------
PAGE NEWS
----------------------------------*/

/*Style titre page*/
.block-main-news h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}


/*Event : Style du fond*/
.block-main-news .event {
	background-color: rgba(255,255,255,0.50);
	border-radius: 20px;
	padding: 20px;
	font-size: 1.1em;
	margin: 50px 0;
	max-width: 650px;
}

.block-main-news .event .row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

/*Event : Style image*/
.block-main-news .event .image {
	width: 300px;
}

/*Event : Style titre*/
.block-main-news .event .titleevent {
	font-size: 2.5em;
	color: #047395;
	font-weight: bold;
	text-align: center;
}

/*Event : Style sous-titre*/
.block-main-news .event .subtitleevent {
	font-size: 2.3em;
	color: #00022e;
	font-weight: bold;
	text-align: center;
}

/*Event : Style description*/
.block-main-news .event .descriptionevent {
	text-align: justify;
	font-size: 2em;
}

/*Event : Décalage en savoir plus*/
.block-main-news .event .link {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
}

/*Event : Style texte en savoir plus*/
.block-main-news .event .link a {
	color: #047395;
	font-weight: bold;
}

/*Event : Infos*/
.block-main-news .event .infoevent {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 0px 20px;
	font-size: 2em;
	flex-wrap: wrap;
}

/*Event : Suppression espace après paragraphes*/
.block-main-news .event p {
	margin-bottom: 0;
	max-width: 600px;
}

/*Event : Infos et icônes sur une ligne + alignement vertical*/
.block-main-news .event .dayevent,
.block-main-news .event .timeevent,
.block-main-news .event .priceevent,
.block-main-news .event .placeevent {
	display: flex;
	align-items: center;
}

/*Event : Taille des icônes + espace entre icônes et textes*/
.block-main-news .infoevent img {
	max-height: 40px;
	margin: 0px 15px 0px 0px;
}

/*Event : Infos sur deux lignes*/
.block-main-news .infoevent .dayevent {
	margin-right: 40px;
}



@media (min-width: 992px) {
	/*Style titre page*/
	.block-main-news h2 {
		font-size: 1.6em;
	}

	/*Event : Style du fond*/
	.block-main-news .event {
		max-width: 650px;
		margin: 20px;
	}
	
	.block-main-news .event .row {
		flex-direction: row;
	}

	/*Event : Style image*/
	.block-main-news .event .image {
		width: 135px;
	}

	/*Event : Style titre*/
	.block-main-news .event .titleevent {
		font-size: 1.2em;
	}

	/*Event : Style sous-titre*/
	.block-main-news .event .subtitleevent {
		font-size: 1.1em;
	}

	/*Event : Style description*/
	.block-main-news .event .descriptionevent {
		font-size: 1em;
	}

	/*Event : Décalage en savoir plus*/
	.block-main-news .event .link {
		font-size: 1em;
		width: 610px;
	}

	/*Event : Infos*/
	.block-main-news .event .infoevent {
		font-size: 1em;
		flex-wrap: nowrap;
	}

	/*Event : Suppression espace après paragraphes*/
	.block-main-news .event p {
		max-width: 430px;
	}

	/*Event : Taille des icônes + espace entre icônes et textes*/
	.block-main-news .infoevent img {
		max-height: 30px;
	}

	/*Event : Suppression marge*/
	.block-main-news .infoevent .dayevent {
		margin-right: 0;
	}

}


/*---------------------------------
PAGE RESULTATS RECHERCHE
----------------------------------*/

/*Bloc résultats recherche*/
.block-content-search .inner {
	width: auto;
	margin: 0 auto;
}

/*Alignement titre*/
.block-content-search .results {
	padding: 0 0 20px;
	text-align: center;
	font-size: 2.6em;
	color: #00022e;
	margin: 10px 0px;
}

/*Affichage liste des résultats*/
.block-content-search ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

/*Style de chaque résultat*/
.block-content-search li {
	width: 550px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255,255,255,0.50);
    border-radius: 20px;
    padding: 50px;
	margin: 0 0 50px;
}

/*Taille images*/
.block-content-search li img {
	width: 400px;
	margin: 0 0 20px;
}

/*Style nom de l'événement*/
.block-content-search .name {
	color: #00022e;
	font-size: 2.3rem;
	text-decoration: none;
	text-align: center;
}

/*Style nom de l'événement*/
.block-content-search .description {
	font-size: 2.2rem;	
	text-decoration: none;
	text-align: center;
	color: black;
}

.block-content-search a:hover,
.block-content-search a:focus,
.block-content-search a:active {
	text-decoration: none;
}


@media (min-width: 992px) {
	/*Bloc résultats recherche*/
	.block-content-search .inner {
		width: 1000px;
	}
	
	/*Affichage liste des résultats*/
	.block-content-search ul {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	/*Style de chaque résultat*/
	.block-content-search li {
		width: 300px;
		height: 380px;
		flex-wrap: wrap;
		padding: 20px;
		margin: 0 0 20px;
	}

	/*Alignement titre*/
	.block-content-search .results {
		padding: 0 0 20px;
		text-align: center;
		font-size: 1.6em;
		color: #00022e;
		margin: 10px 0px 10px;
	}

	/*Taille images*/
	.block-content-search li img {
		width: 260px;
	}

	/*Style nom de l'événement*/
	.block-content-search .name {
		font-size: 1.3rem;
	}

	/*Style nom de l'événement*/
	.block-content-search .description {
		font-size: 1.2rem;
	}
}


/*---------------------------------
CONTACT
----------------------------------*/

/*Style titre contact*/
.block-main-contact h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Style intro contact*/
.block-main-contact .send p {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px #288797;
	font-size: 2.2em;
	margin: 20px 0 0;
}

/*Largeur et centrage fieldset*/
.block-main-cpntact fieldset {
	width: 650px;
	margin: 0 auto;
}


/*Couleur nom des champs*/
.block-main-contact .form label:nth-of-type(1) {
	color: #203863;
}


/*Style champs*/
.block-main-contact .form  p {
	color: white;
	margin: 50px 20px;
	font-size: 1.8em;
}


/*Ombrage texte du formulaire sauf bouton*/
.block-main-contact .form p:not(:last-of-type) {
	text-shadow: 1px 1px 2px #288797;
}


/*Espace entre noms champs et zones de texte + boutons radios*/
.block-main-contact .form p label:nth-of-type(1) {
	display: block;
	width: 200px;
	float: left;
    font-size: 1.2em;
}


/*Style zones de texte*/
.block-main-contact .form #firstname,
.block-main-contact .form #lastname,
.block-main-contact .form #mail,
.block-main-contact .form #message {
	background-color: rgba(255,255,255,0.50);
	border: thin;
	border-radius: 10px;
	color: #203863;
	font-size: 1.3em;
	width: 450px;
}

/*Style zone de texte*/
.block-main-contact .form textarea {
	resize: vertical;
}

/*Style texte bouton*/
.block-main-contact .form p:last-of-type {
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
}
   

/*Style bouton*/
.block-main-contact .form p:last-of-type input {
	color: #203863;
	padding: 15px 30px;
	border: thin;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0px 2px 5px #288797); 
	font-size: 1.6em;
}

/*Style bouton au survol, au tab ou au clic*/
.block-main-contact .form p:last-of-type input:hover,
.block-main-contact .form p:last-of-type input:focus,
.block-main-contact .form p:last-of-type input:active {
	background-color: #203863;
	color: white;
	text-decoration: none;
}


@media (min-width: 992px) {

	/*Style titre contact*/
	.block-main-contact h2 {
		font-size: 1.6em;
	}

	/*Largeur et centrage fieldset*/
	.block-main-contact fieldset {
		width: 430px;
	}

	/*Style intro contact*/
	.block-main-contact .send p {
		font-size: 1.2em;
	}

	/*Style champs*/
	.block-main-contact .form  p {
		font-size: 1.2em;
	}

	/*Espace entre noms champs et zones de texte + boutons radios*/
	.block-main-contact .form p label:nth-of-type(1) {
		width: 128px;
		font-size: 1em;
	}


	/*Style zones de texte*/
	.block-main-contact .form #firstname,
	.block-main-contact .form #lastname,
	.block-main-contact .form #mail,
	.block-main-contact .form #message {
		font-size: 1rem;
		width: 258px;
	}

	/*Style texte bouton*/
	.block-main-contact .form p:last-of-type {
		font-size: 1.3em;
	}
	   

	/*Style bouton*/
	.block-main-contact .form p:last-of-type input {
		font-size: 1em;
	}
}

/*---------------------------------
CONFIRMATION CONTACT
----------------------------------*/


/*Style titre confirmation contact*/
.block-main-confirmation-contact h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 10px;
}

/*Style message confirmation + erreur*/
.block-main-confirmation-contact .sent p,
.block-main-confirmation-contact .error p {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px #288797;
	font-size: 2.2em;
	margin: 40px 0 0;
}

/*Style liens retour*/
.block-main-confirmation-contact .sent a,
.block-main-confirmation-contact .error a {
	color: #00022e;
}

/*Style liens retour au survol*/
.block-main-confirmation-contact .sent a:hover,
.block-main-confirmation-contact .sent a:focus,
.block-main-confirmation-contact .sent a:active,
.block-main-confirmation-contact .error a:hover,
.block-main-confirmation-contact .error a:focus,
.block-main-confirmation-contact .error a:active {
	text-decoration: none;
	color: #203863;
}


@media (min-width: 992px) {

	/*Style titre confirmation contact*/
	.block-main-confirmation-contact h2 {
		font-size: 1.6em;
	}

	/*Style message confirmation + erreur*/
	.block-main-confirmation-contact .sent p,
	.block-main-confirmation-contact .error p {
		font-size: 1.2em;
	}
}


/*---------------------------------
LARGE DEVICES (desktops, 992px and up)
----------------------------------*/
@media (min-width: 992px) { 
	/*---------------------------------
	HEADER GRANDS ECRANS
	----------------------------------*/
	/*Nom + logo*/
	.block-header-web .titleandlogo h1 {
		display: block;
	}

	/*Taille logo*/
	.block-header-web .titleandlogo img {
		width: 12%;
	}


	/*Apparition barre de navigation + header web*/
	.block-nav-web,
	.block-header-web {
		/*opacity: 1;*/
		display: block;
	}
	
	.block-nav-web {
		background-color: #203863;
		margin: 0 0 40px;
	}
	
	/*Disparition header mobile*/
	.block-header,
	.block-nav {
		display: none;
	}
	
	/*Couleur barre de nav*/
	.block-nav-web .nav {
		width: 1000px;
	}
	
	/*Style "a"*/
	.block-nav-web a {
		color: white;
		font-size: 1.2em;
		padding: .5rem 0;
	}
	
	.block-nav-web ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
	}
	
	/*Style séparateurs*/
	.block-nav-web li:nth-of-type(2),
	.block-nav-web li:nth-of-type(4),
	.block-nav-web li:nth-of-type(6),
	.block-nav-web li:nth-of-type(8),
	.block-nav-web li:nth-of-type(10),
	.block-nav-web li:nth-of-type(12) {
		color: #46b3a6;
		padding: .30rem 0rem;
		font-size: 1.4em;
	}
	
	
	/*Style nav au survol ou au clic*/
	.block-nav-web a:hover, 
	.block-nav-web a:focus,
	.block-nav-web a:active { 
		color: #46b3a6;
	}
	
	
}


/*---------------------------------
PAGE SOIREE
----------------------------------*/
/* POUR TOUS */
.block-main-soiree {
	color: #00022e;
	width: 800px;
}

/* TITRE */
.block-main-soiree .titre_soiree {
	font-size: 3.6em;
	text-align: center;	
	font-weight: bold;
}


/* INFOS*/
.block-main-soiree .event {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	font-size: 2em;
}

.block-main-soiree .event p {
	margin-bottom: 0;
}

.block-main-soiree .event .eventpicture img {
	width: 200px;
	margin: 0 20px 0 0;
}


.block-main-soiree .infoevent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
}

.block-main-soiree .infoevent-web {
	display: none;
}

.block-main-soiree .infoevent img {
	height: 40px;
	margin: 0 10px 0 0;
}

.block-main-soiree .infoevent p {
	margin-bottom: 0;
}

.block-main-soiree .infoevent .dayevent,
.block-main-soiree .infoevent .timeevent,
.block-main-soiree .infoevent .priceevent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*COORDONNEES + MAP */
.block-main-soiree .mapcoordonnees h2 {
	font-size: 3.6em;
	text-align: center;
	margin: 80px 0 0;
}

.block-main-soiree .coordonnees {
	display: flex;
	flex-direction: column;
	align-items: center;	
}



/* COORDONNEES */
.block-main-soiree .contact p {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0;
}

/* Places*/
.block-main-soiree .contact a {
	color: white;
	text-shadow: 1px 1px 2px #288797;
	text-align: center;
}	

.block-main-soiree .contact a:hover,
.block-main-soiree .contact a:focus,
.block-main-soiree .contact a:active {
	color: #203863;
	text-decoration: none;
}
	

/*MAP*/
.block-main-soiree #map {
	width: 500px;
	height: 300px;
	border: solid;
	margin-top: 40px;
}

/* Avis */

.block-main-soiree .avis {
	margin: 80px auto;
}

.block-main-soiree .avis h2 {
	font-size: 3.6em;
	text-align: center;
}

.block-main-soiree .avis a {
	font-size: 2em;
	color: white;
	text-shadow: 1px 1px 2px #288797;
	text-align: center;
}

.block-main-soiree .avis a:hover,
.block-main-soiree .avis a:focus,
.block-main-soiree .avis a:active {
	color: #203863;
	text-decoration: none;
}

.block-main-soiree .avis .perso {
	border: 0.2rem solid #00022e;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.50);
	border-radius: 10px;
}

.block-main-soiree .avis .perso .userpicture {
	width: 100px;
	margin: 0 20px 0 0;
}

.block-main-soiree .avis .commentaire {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-main-soiree .avis .commentaire p {
	font-size: 2em;
	margin-bottom: 0;
}



@media (min-width: 992px) {
	.block-main-soiree .titre_soiree {
		font-size: 1.6em;
	}
	
	/*INFOS*/
	
	.block-main-soiree .event {
		font-size: 1.2em;
		justify-content: space-around;
	}
	
	.block-main-soiree .event .eventpicture img {
		width: 150px;
	}
	
	.block-main-soiree .descriptionevent {
		width: 500px;
	}
	
	.block-main-soiree .infoevent {
		display: none;
	}
	
	.block-main-soiree .infoevent-web {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.block-main-soiree .infoevent-web img {
		height: 20px;
		margin: 0 10px 0 0;
	}
	
	.block-main-soiree .infoevent-web .dayevent,
	.block-main-soiree .infoevent-web .timeevent,
	.block-main-soiree .infoevent-web .priceevent {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	/*COORDONNEES*/
		
	.block-main-soiree .coordonnees {
		flex-direction: row;
		align-items: center;	
		justify-content: space-between;
		margin: 30px auto;
	}
	
	.block-main-soiree .mapcoordonnees h2 {
		font-size: 1.5em;
	}
	
	.block-main-soiree .coordonnees {
		font-size: 1.2em;		
	} 
	
	.block-main-soiree .contact p {
		font-size: 1em;
		text-align: left;
	}
	
	.block-main-soiree .contact a {
		margin-top: 20px;
	}
	
	
	/*AVIS*/
	.block-main-soiree .avis h2 {
		font-size: 1.6em;
	}
	
	.block-main-soiree .avis a {
		font-size: 1.2em;
	}
	
	.block-main-soiree .avis .commentaire p {
		font-size: 1.2em;
	}
	
	.block-main-soiree .avis .commentaire p:first-of-type {
		margin-bottom: 15px;	
	}
}


/*---------------------------------------------------
Mentions légales + CGU + Politique de confidentialité
-----------------------------------------------------*/

.block_main_legal {
	display: block;
	width: 700px;
	margin: 20px auto;
	text-align: justify;
}

.block_main_legal h2 {
	text-align: center;
	font-size: 3.6em;
	color: #00022e;
	margin: 10px 0px 40px;
}

.block_main_legal h3,
.block_main_legal p {
	font-size: 2.3em;
}


@media (min-width: 992px) {
	
	.block_main_legal {
		width: 1000px;
	}

	.block_main_legal h2 {
		font-size: 1.6em;
	}

	.block_main_legal h3,
	.block_main_legal p {
		font-size: 1em;
	}
}


/*---------------------------------
FOOTER
----------------------------------*/

.footer {
	background-color: transparent;
	text-align: center;
	color: white;
	font-size: 1.3em;
	text-shadow: 1px 1px 2px #288797;   
    width: 98vw;
	margin: 0 auto;
}

/*Couleur des liens*/
.footer ul a {
	color: white;
}

/*Couleur des liens au sruvol, clic et tab*/
.footer ul a:hover,
.footer ul a:focus,
.footer ul a:active {
	color: #203863;
	text-decoration: none;
}

/*Alignement footer*/
.footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

/*Espace entre liens du footer*/
.footer ul li:not(:last-of-type) {
	padding-right: 18px;
}

/*Séparateur*/
.footer hr {
	background-color: white;
}


@media (min-width: 992px) {
	.footer {
		font-size: 1.1em;
	}

	/*Espace entre liens du footer*/
	.footer ul li:not(:last-of-type) {
		padding-right: 10px;
	}
}
